<div class="new-certification-popup">
    <div class="new-certification-popup-box">
        <div class="new-certification-popup-container">
            <iframe class="iframe" scrolling="no" class="embed-responsive-item" src=""></iframe>
            <div class="new-certification-close">×</div>
        </div>
    </div>
</div>