@font-face {
  font-family: "iconfont"; /* Project id 4003295 */
  src: url('iconfont.woff2?t=1681287753161') format('woff2'),
       url('iconfont.woff?t=1681287753161') format('woff'),
       url('iconfont.ttf?t=1681287753161') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-heart:before {
  content: "\e628";
}

.icon-asscher:before {
  content: "\e625";
}

.icon-princess:before {
  content: "\e626";
}

.icon-radiant:before {
  content: "\e627";
}

.icon-bridal-sets:before {
  content: "\e618";
}

.icon-antique-2:before {
  content: "\e619";
}

.icon-solitaire:before {
  content: "\e61a";
}

.icon-antique:before {
  content: "\e61b";
}

.icon-cathedral:before {
  content: "\e61c";
}

.icon-gemstone:before {
  content: "\e61d";
}

.icon-diamond:before {
  content: "\e61e";
}

.icon-anniversary:before {
  content: "\e61f";
}

.icon-eternity:before {
  content: "\e620";
}

.icon-side-stones:before {
  content: "\e621";
}

.icon-ringwrap:before {
  content: "\e622";
}

.icon-halo:before {
  content: "\e623";
}

.icon-three-stone:before {
  content: "\e624";
}

.icon-cushion:before {
  content: "\e612";
}

.icon-oval:before {
  content: "\e613";
}

.icon-pear:before {
  content: "\e614";
}

.icon-round:before {
  content: "\e615";
}

.icon-marquise:before {
  content: "\e616";
}

.icon-emerald:before {
  content: "\e617";
}

