.new-collection__nav {
    /*display: none;*/
}

.new_collection_sidebar .collection__sidebar__head h3 {
    color: #4A6178;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
}

.collection__sidebar__buttons {
    display: none;
}

.new-collection-click.collapsed svg {
    transform: rotate(180deg);
}

@media screen and (max-width: 768px) {
    .new-collection__nav {
        display: block !important;
    }

    .collection__sidebar__buttons {
        display: block;
    }

    .new_collection_sidebar {
        top: 125px;
        width: 100%;
        height: 70vh;
        border-top: 1px solid #DDDDDD;
    }

    .new_collection__products .drawer__underlay {
        visibility: hidden;
    }
}

.new-product-grid .new-product-item {
    display: flex;
    border-bottom: 1px solid #E6EBF0;
    padding-bottom: 22px;
}

.product-grid.new-product-grid {
    grid-template-columns:repeat(1, 1fr);
    gap: 22px;
    padding-top: 22px;
}

.new-product-grid .product-item--borderless .product-item__image {
    width: 10%;
    height: 40px;
    padding-top: 0;
}

.new-product-image {
    display: block;
    width: 40px;
    height: 40px;
    background-color: #ebebeb;
    margin: 0 auto;
}

.new-product-information {
    width: 90%;
}


.new-product-item__info {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
}

.new-product-header {
    display: flex;
    background-color: #E6EBF0;
}

.new-header-empty {
    display: block;
    width: 10%;
}

.new-product-header ul {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    margin: 0;
    width: 90%;
    padding: 16px var(--inner);
}

.new-product-header ul li {
    list-style: none;
    text-align: center;
    font-weight: 600;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.new-product-header ul li svg {
    margin-left: 4px;
}

.new-collection-click {
    margin: 0 auto 30px;
    border: 1px solid #E6EBF0;
    background: #E6EBF0;
    border-radius: 0px 0px 4px 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 220px;
    padding: 8px;
    cursor: pointer;
}

.new-product-option {
    display: flex;
    align-items: center;
    justify-content: center;
}

.new-product-link {
    border: 1px solid #6C737A;
    padding: 8px 16px;
}

@media (max-width: 767px) {
    .new-product-grid .product-item--borderless .product-item__image {
        width: 50%;
        height: 100%;
    }

    .new-product-information {
        width: 50%;
    }

    .new-product-image {
        width: 140px;
        height: 140px;
    }

    .new-collection-click {
        display: none;
    }

    .new-product-header {
        display: none;
    }

    .new-product-item__info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .new-product-option {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    .new-product-option span {
        display: inline-block;
        width: 50%;
        text-align: left;
        font-size: 14px;
    }

    .new-product-option-title {
        color: #6C737A;
        opacity: .8;
    }

}